# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.RacingRacerCar.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projets\RacingRacerCar\RacingRacerCar\.idea\.idea.RacingRacerCar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
